{% extends "base.html" %}
{% block content %}

<h2>Book a court at 07:30 for {{ email.shortDate }}</h2>

<p>Reply to: {{ email.owner.FirstName }} {{ email.owner.LastName }}</p>

<details>
<summary>{{ recipients|length }} recipients</summary>
{% for t in recipients %}
{{ t.FirstName }} {{t.LastName}} ({{ t.EmailAddress }})<br>
{% endfor %}
</details>

{% set emailBody = false %}

{% set to = recipients[0] %}
{% if invitationsSent == 0 %}
{% include "emailWannaPlay.html" %}
{% else %}    
{% include "emailBooking.html" %}
{% endif %}

<br><br>
<a class="pure-button" href="{{ continuelink }}">Send emails</a>
<br><br>
<a class="pure-button" href="{{ cancellink }}">Cancel</a>


{% endblock %}