<p>Hi {{ to.FirstName }}</p>

<h3>Please book a court for {{ base.shortDate }}</h3>

{% if base.requests|length > 0 %}
<p>Please book as follows:</p>
<table class="pure-table">
    <thead><th>Booker</th><th>Court</th><th>Time</th></tr></thead>
    {% for r in base.requests %}
        <tr{{ r.Userid == to.Userid ? ' style="color:red;"' : '' }}>
        <td>{{ r.FirstName}} {{ r.LastName}}</td>
        <td>{{ r.CourtNumber}}</td>
        <td>{{ r.BookingTime }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<p>After 07:30, please record which courts you booked (or that you didn't book a court) by following 
    <a href = "{{ server }}/start/{{ to.Token }}">this personal link</a>.</p>

{% if altmessage %}
Link: {{ server }}/start/{{ to.Token }}
{% endif %}

<p>Regards,</p>

<p>{{ base.OwnerFirstName }}</p>
