{% extends "base.html" %}
{% block content %}

<h2>{{ email.subject }}</h2>

<p>From: {{ email.from }}</p>

<details>
<summary>{{ recipients|length }} recipients</summary>
{% for t in recipients %}
{{ t.FirstName }} {{t.LastName}} ({{ t.EmailAddress }})<br>
{% endfor %}
</details>

<p>Dear {{ recipients.0.FirstName }}</p>

{% for m in email.message %}
<p>{{ m }}</p>
{% endfor %}

<p>
Please answer by following 
<a href = "{{ server }}/participant?fixtureid={{ fixtureid }}&userid={{ recipients.0.Userid }}">
this personal link</a>
</p>
{% for s in email.salutation %}
<p>{{ s }}</p>
{% endfor %}

<br><br>
<a class="pure-button" href="{{ continuelink }}">Send emails</a>
<br><br>
<a class="pure-button" href="{{ cancellink }}">Cancel</a>


{% endblock %}