<p>Hi {{ to.FirstName }}</p>

<p>Please cancel your court booking for {{ base.descriptiom }}:</p>

<h3>Court {{ to.CourtNumber }} at {{ to.BookingTime }}</h3>

<p>
  You don't need to confirm back to me that you have cancelled your court
  booking.
</p>

<p>
  It's particularly important to cancel if you are not playing on {{
  base.shortDate }}
</p>

<p>
  To see the latest status, including the the list ofbooked courts to cancel,
  please follow
  <a href="{{ server }}/start/{{ to.Token }}">your personal link</a>
</p>

{% if altmessage %} Link: {{ server }}/start/{{ to.Token }} {% endif %}

<p>Regards,</p>

<p>{{ base.OwnerFirstName }}</p>
