<p>Hi {{ to.FirstName }}</p>

<h3>At 07:30, please book a court for {{ base.shortDate }}</h3>

{% if base.requests|length > 0 %}
<p>If your name appears in the below, please go for the requested court and time (otherwise book anything you can get).</p>
<table class="pure-table">
<thead><th>Time</th><th>Court</th><th>Booker</th></tr></thead>
{% for r in base.requests %}
<tr{{ r.Userid == to.Userid ? ' style="color:red;"' : '' }}>
<td class="no-wrap">{{ r.BookingTime }}</td><td>{{ r.CourtNumber}}</td><td>{{ r.FirstName}} {{ r.LastName }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<p>After 07:30, please record which courts you booked (or that you didn't book a court) by following 
<a href = "{{ server }}/start/{{ to.Token }}">this personal link</a>.</p>

{% if altmessage %}
Link: {{ server }}/start/{{ to.Token }}
{% endif %}

<p>Regards,</p>

<p>{{ base.OwnerFirstName }}</p>
