{% set fixtureid = fixture.base.Fixtureid %}
{% set userid = participant.Userid %}
{% set ReactPage = true %}


{% extends "base.html" %}
{% block content %}

<h2>{{ fixture.base.description }}</h2>
<h3 style="color:red;">{{ fixture.base.FixtureTime }} start</h3>


<div id="user-input"></div> {# React component #}

{% if fixture.inBookingWindow >= 0 %}
    {% if fixture.bookings|length >1 %}
        <p class="no-space-after"><b>Booked courts...</b>
        <table class="pure-table">
        {% for key, r in fixture.bookings %}
        {% if key == 0 %}<thead>{% endif %}
        <tr>
        {% for c in r %}
        {% if key == 0 %}
            <th>{{ c }}</th>
        {% else %}
            <td>{{ c }}</td>
        {% endif %}
        {% endfor %}
        {% if key == 0 %}</thead>{% endif %}
        {% endfor %}
        </table>
    {% else %}
        No bookings<br>
    {% endif %}
{% endif %}

{% if fixture.inBookingWindow < 0 %}
{% if fixture.requestedBookings|length > 0 %}
<p class="no-space-after"><b>Booking for 7:30 on {{ fixture.base.bookingDate }}:</b></p>
<table class="pure-table">
    <thead><th>Booker</th><th>Court</th><th>Time</th></tr></thead>
    {% for r in fixture.requestedBookings %}
        <tr>
        <td>{{ r.ShortName }}</td>
        <td>{{ r.CourtNumber }}</td>
        <td>{{ r.BookingTime }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No booking requests</p>
{% endif %}
{% endif %}

<br>

{% set href = 'participantSeries?seriesid=' ~ fixture.base.Seriesid ~ '&index=' %}
<a class="pure-button" href="{{ href ~ (fixture.adjacentLabel == 'Next' ? 0 : 1)}}">Refresh</a>
<a class="pure-button" href="{{ href ~ (fixture.adjacentLabel == 'Next' ? 1 : 0)}}">{{ fixture.adjacentLabel }} fixture</a>
<br><br>


<script type="text/babel">

{{ include('UserInput.jsx') }}
{{ include('WantsToPlay.jsx') }}
{{ include('PlayerList.jsx') }}
{{ include('BookingTable.jsx') }}

const container = document.getElementById('user-input');
const root = ReactDOM.createRoot(container);

root.render(<UserInput 
    fixtureid = "{{ fixtureid }}"
    userid = "{{ userid }}" />);

</script>

{% endblock %}