{% set fixtureid = fixture.base.Fixtureid %}
{% set userid = participant.Userid %}
{% set ReactPage = (fixture.inBookingWindow == 0) %}


{% extends "base.html" %}
{% block content %}

<h2>{{ fixture.base.description }}</h2>
<h3 style="color:red;">{{ fixture.base.FixtureTime }} start</h3>

{% if participant.WantsToPlay is null %}
    {% set htext = "has not yet responded" %}
{% elseif participant.IsPlaying %}
    {% set htext = "is playing" %}
{% elseif participant.Isplaying == false %}
    {% set htext = participant.WantsToPlay == true ? "wants to play" : "can't play" %}
{% endif %}

<p class="no-space-after"><b>{{ participant.FirstName }} {{ htext }}</b></p>

{% set href = "participantWantsToPlay?fixtureid=%d&userid=%d&WantsToPlay="|
    format(fixtureid, participant.Userid) %}
{% if participant.WantsToPlay is null %}
    <a class="pure-button" href="{{ href }}1">Would like to play</a>
    <a class="pure-button" href="{{ href }}0">Cannot play</a>
{% elseif participant.WantsToPlay == true %}
    <a class="pure-button" href="{{ href }}0">Cannot now play</a>
{% elseif participant.WantsToPlay == false %}
    <a class="pure-button" href="{{ href }}1">Would now like to play</a>
{% endif %}


{% if ReactPage %}
<div id="booking-table"></div> {# React component #}
<br>
{% endif %}


{% if fixture.players|length >0 %}
<p class="no-space-after"><b>Playing:</b></p>
<ol class="lno-space">
    {% for n in fixture.players %}
    <li>{{ n.ShortName }}</li>
    {% endfor %}
</ol>
{% endif %}

{% if fixture.reserves|length >0 %}
    {% if fixture.players|length >0 %}
    <p class="no-space-after"><b>Reserve:</b></p>
    {% else %}
    <p class="no-space-after"><b>Wants to play:</b></p>
    {% endif %}
    <ol class="lno-space">
    {% for n in fixture.reserves %}
    <li>{{ n.ShortName }}</li>
    {% endfor %}
    </ol>
{% endif %}

{% if fixture.decliners|length >0 %}
<p class="no-space-after"><b>Can't play:</b></p>
<ol class="lno-space">
    {% for n in fixture.decliners %}
    <li>{{ n.ShortName }}</li>
    {% endfor %}
</ol>
{% endif %}

{% if fixture.inBookingWindow >= 0 %}
    {% if fixture.bookings|length >1 %}
        <p class="no-space-after"><b>Booked courts...</b>
        <table class="pure-table">
        {% for key, r in fixture.bookings %}
        {% if key == 0 %}<thead>{% endif %}
        <tr>
        {% for c in r %}
        {% if key == 0 %}
            <th>{{ c }}</th>
        {% else %}
            <td>{{ c }}</td>
        {% endif %}
        {% endfor %}
        {% if key == 0 %}</thead>{% endif %}
        {% endfor %}
        </table>
    {% else %}
        No bookings<br>
    {% endif %}
{% endif %}

{% if fixture.inBookingWindow < 0 %}
{% if fixture.requestedBookings|length > 0 %}
<p class="no-space-after"><b>Booking for 7:30 on {{ fixture.base.bookingDate }}:</b></p>
<table class="pure-table">
    <thead><th>Booker</th><th>Court</th><th>Time</th></tr></thead>
    {% for r in fixture.requestedBookings %}
        <tr>
        <td>{{ r.ShortName }}</td>
        <td>{{ r.CourtNumber }}</td>
        <td>{{ r.BookingTime }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No booking requests</p>
{% endif %}
{% endif %}

<br>

{% set href = 'participantSeries?seriesid=' ~ fixture.base.Seriesid ~ '&index=' %}
<a class="pure-button" href="{{ href ~ (fixture.adjacentLabel == 'Next' ? 0 : 1)}}">Refresh</a>
<a class="pure-button" href="{{ href ~ (fixture.adjacentLabel == 'Next' ? 1 : 0)}}">{{ fixture.adjacentLabel }} fixture</a>
<br><br>


{% if ReactPage %}
<script type="text/babel">

{{ include('BookingTable.jsx') }}

const container = document.getElementById('booking-table');
const root = ReactDOM.createRoot(container);

root.render(<BookingTable 
    name = "{{ participant.FirstName }}"
    fixtureid = "{{ fixtureid }}"
    userid = "{{ userid }}" />);

</script>
{% endif %}

{% endblock %}