{% set fixtureid = fixture.base.Fixtureid %}
{% set userid = participant.Userid %}
{% set ReactPage = true %}


{% extends "base.html" %}
{% block content %}

<h2>{{ fixture.base.description }}</h2>
<h3 style="color:red;">{{ fixture.base.FixtureTime }} start</h3>


<div id="user-input"></div> {# React component #}

<br>

{% set href = 'participantSeries?seriesid=' ~ fixture.base.Seriesid ~ '&index=' %}
<a class="pure-button" href="{{ href ~ (fixture.adjacentLabel == 'Next' ? 0 : 1)}}">Refresh</a>
<a class="pure-button" href="{{ href ~ (fixture.adjacentLabel == 'Next' ? 1 : 0)}}">{{ fixture.adjacentLabel }} fixture</a>
<br><br>


<script type="text/babel">

{{ include('UserInput.jsx') }}
{{ include('WantsToPlay.jsx') }}
{{ include('PlayerList.jsx') }}
{{ include('UserBookingTable.jsx') }}
{{ include('BookedCourts.jsx') }}
{{ include('Bookingrequests.jsx') }}
{{ include('CountdownTimer.jsx') }}

const container = document.getElementById('user-input');
const root = ReactDOM.createRoot(container);

root.render(<UserInput 
    fixtureid = "{{ fixtureid }}"
    userid = "{{ userid }}" />);

</script>

{% endblock %}