{# For the Admin and Owner role, this provides the participant's view 
For the User role, it enables the user to say which courts they booked
If the current time is within the booking window, it includes a React component #}
{% set fixtureid = fixture.base.Fixtureid %}
{% set ReactPage = (fixture.inBookingWindow == 0) %}

{% extends "base.html" %}
{% block content %}

{% if Role == 'User' %} 
<h3 class="no-space-after">{{ participant.FirstName }}, please indicate any booked courts</h3>
for {{ fixture.base.shortDate }} at {{ fixture.base.FixtureTime }}
<br>
{% else %} {# Role is Admin or Owner #}

{% if participant.WantsToPlay is null %}
    {% set htext = "has not yet responded" %}
{% elseif participant.IsPlaying %}
    {% set htext = "is playing" %}
{% elseif participant.Isplaying == false %}
    {% set htext = participant.WantsToPlay == true ? "wants to play" : "can't play" %}
{% endif %}


<h2>{{ participant.FirstName }} {{ participant.LastName }} {{ htext }}</h2> 
<p>{{ fixture.base.shortDate }} at {{ fixture.base.FixtureTime }}</p>


{% set href = "participantWantsToPlay?fixtureid=%d&userid=%d&WantsToPlay="|
    format(fixtureid, participant.Userid) %}
{% if participant.WantsToPlay is null %}
    <a class="pure-button" href="{{ href }}1">Would like to play</a>
    <a class="pure-button" href="{{ href }}0">Cannot play</a>
{% elseif participant.WantsToPlay == true %}
    <a class="pure-button" href="{{ href }}0">Cannot now play</a>
{% elseif participant.WantsToPlay == false %}
    <a class="pure-button" href="{{ href }}1">Would now like to play</a>
{% endif %}
<br>
{% endif %}

{% if ReactPage %}
    <div id="booking-table"></div> {# React component #}
{% else %}
    {% if bookings|length >0 %}
    <br><br><b>Courts booked</b><br>
    <table class="pure-table"><thead><tr><th>Time</th><th>Court</th></tr></thead><tbody>
    {% for bk, b in bookings %}
    <tr>
    <td>{{ b.BookingTime }}</td>
    <td>{{ b.CourtNumber }}</td>
    </tr>
    {% endfor %}
    </tbody></table>
    {% endif %}
    <br>
{% endif %}

<br><br>
{% if Role == 'User' %}
<a class="pure-button" href="fixturenotice?fixtureid={{ fixtureid }}">Done</a>
{% else %}
<a class="pure-button" href="fixture?fixtureid={{ fixtureid }}">Back to fixture</a>
{% endif %}
<br><br>

{% if ReactPage %}
<script type="text/babel">
    function BookingTable() {
        const [bookingData, setBookingData] = React.useState([]);
        React.useEffect(() => {
            fetch('/api/participantBookings/{{ fixtureid }}/{{ participant.Userid }}')
            .then(response => response.json())
            .then(setBookingData);
        }, []);
        const handleCourtChange = (event, index) => {
            const { value } = event.target;
            const resetIndex = index == 0 ? 1 : 0;
            const newBookingData = bookingData.map((item, i) => {
                if (i === index) {
                    return { ...item, court: Number(value) };
                }
                return item;
            });
            const numCourtsSet = newBookingData.filter(item => item.court != 0).length;
            if (numCourtsSet > 2) {
                newBookingData[resetIndex].court = 0;
            }
            setBookingData(newBookingData);
            const bookings = newBookingData.map(item => ({ time: item.time, court: item.court }));
            fetch('/api/participantBookings/{{ fixtureid }}/{{ participant.Userid }}', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(bookings),
            });
        };

        return (
            <div>
                <p className="no-space-after"><b>Courts booked</b></p>
                <table className="pure-table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Court</th>
                        </tr>
                    </thead>
                    <tbody>
                        {bookingData.map((item, index) => (
                            <tr key={index}>
                                <td>{item.time}</td>
                                <td>
                                    <select
                                        id={item.time}
                                        value={item.court}
                                        onChange={(event) => handleCourtChange(event, index)}
                                    >
                                        {item.availableCourts.map((court, index) => (
                                            <option key={index} value={court}>
                                                {court == 0 ? 'No' : court}
                                            </option>
                                        ))}
                                    </select>
                                </td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div>
        );
    }

    const container = document.getElementById('booking-table');
    const root = ReactDOM.createRoot(container);

    root.render(<BookingTable />);

</script>
{% endif %}

{% endblock %}
