{% extends "base.html" %}
{% block content %}

<h2>{{ participant.FirstName }} {{ participant.LastName }}</h2> 
<p>For {{ fixture.description }} at {{ fixture.time }}</p>

{% if bookings|length >0 %}
<p>Has already booked 
{% for bk, b in bookings %}
court {{ b.court }} at {{ b.time }} 
{% endfor %}
{% endif %}
</p>

{% set path = fromFixture ? 'participantAddBookingFromFixture' : 'participantAddBooking' %}
{% set href = path ~ '?fixtureid=' ~ fixture.fixtureid ~ '&userid=' ~ participant.Userid %}

{% for time in fixture.bookingtimes %}
{% if time != usedBookingTime %}
<br><b>{{ time }}</b><br>
{% for court in attribute (courts, time) %}
    {% if court != 0 %}
    <a class="pure-button" href="{{ href }}&time={{ time }}&court={{ court }}">{{ court }}</a>
    {% else %}
    <br><br>
    {% endif %}
{% endfor %}
{% endif %}
{% endfor %}

<br><br>
<a class="pure-button" href="fixture?fixtureid={{ fixture.fixtureid }}">Cancel</a>

{% endblock %}