{% extends "base.html" %}
{% block content %}

<h2>{{ participant.FirstName }} {{ participant.LastName }}</h2> 
<p>For {{ fixture.description }}</p>

{% if bookings|length >0 %}
<p>Has booked 
{% for bk, b in bookings %}
court {{ b.court }} at {{ b.time }} 
{% endfor %}
{% endif %}
</p>

{% set href = "participantAddBooking?fixtureid=%d&userid=%d&type=%s"|format(fixture.fixtureid, participant.Userid, bookingType) %}

{% for time in fixture.bookingtimes %}
{% if time != usedBookingTime %}
<br><b>{{ time }}</b><br>
{% for court in attribute (courts, time) %}
    {% if court != 0 %}
    <a class="pure-button" href="{{ href }}&time={{ time }}&court={{ court }}">{{ court }}</a>
    {% else %}
    <br><br>
    {% endif %}
{% endfor %}
{% endif %}
{% endfor %}

<br><br>

{% if Role == 'User' %}
    {% if bookings|length == 0 %}
    <a class="pure-button" href="participantNoBooking?fixtureid={{ fixture.fixtureid }}&userid={{ participant.Userid }}">
        I didn't book any court</a>
    {% else %}
    <a class="pure-button" href="fixturenotice?fixtureid={{ fixture.fixtureid }}">
        I only booked one court</a>
    {% endif %}
{% elseif bookingType == 'Booked' %}
<a class="pure-button" href="participant?fixtureid={{ fixture.fixtureid }}&userid={{ participant.Userid }}">
    Back</a>
{% else %}
<a class="pure-button" href="fixture?fixtureid={{ fixture.fixtureid }}}">
    Back</a>
{% endif %}

{% endblock %}