{% extends "base.html" %}
{% block content %}
<div class="header">
<h1>{{ description }}</h1>
<p>Series owner: {{ owner.FirstName}} {{owner.LastName }}</p>
{% if Role == 'Admin' %}
<p>Owner link: <a href="{{ owner.Link }}">link</a></p> 
{% endif %}
</div>
<div class="content">
<p>Courts: {{ courts }}</p>
<a class="pure-button" href="serieseditform?seriesid={{ seriesid }}">Edit series data</a>

<br><br>
{% if participants|length >0 %}
<details>
    <summary><b>Participants ({{ participants|length }})</b></summary>
    <ol>
        {% for n in participants %}
        <li>{{ n }}</li>
        {% endfor %}
    </ol>
</details>
<br>
<a class="pure-button" href="seriesdelusersform?seriesid={{ seriesid }}">Remove</a>
{% else %}
<p>Use the Add button to add people</p>
{% endif %}

<a class="pure-button" href="seriesaddusersform?seriesid={{ seriesid }}">Add</a>
<br><br>

{% if fixtures|length >0 %}
<p><b>Latest fixtures (latest date first):</b></p>
<table class="pure-table"><thead><tr><th>Date</th><th>Time</th></tr></thead><tbody>
    {% for n in fixtures %}
        <tr>
            <td><a href="fixture?fixtureid={{ n.fixtureid}}">{{ n.description }}</a></td>
            <td>{{ n.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No fixtures in this series</p>
{% endif %}

<br>
{% if futurefixtures < 2 %}
<a class="pure-button" href="addfixture?seriesid={{ seriesid }}">Add the next fixture</a>
<br>
{% endif %}

{% if Role == 'Admin' %}
<br>
<a class="pure-button" href="serieslist">Back to series list</a>
<br><br>
<a class="pure-button" href="seriesdeleteform?seriesid={{ seriesid }}">Delete series</a>
{% endif %}

<br>
<details>
<summary>About this page</summary>
{% apply markdown_to_html %}
{{ include('series.md') }}
{% endapply %}
</details>

</div>
{% endblock %}