{% extends "base.html" %}
{% block content %}

<h2>{{ description }}</h2>
<p>Series owner: {{ owner }}</p>
<a class="pure-button" href="serieseditform?seriesid={{ seriesid }}">Edit series data</a>
<br>
{% if participants|length >0 %}
<p><b>Default fixture invitees:</b></p>
<ol>
    {% for n in participants %}
    <li>{{ n }}</li>
    {% endfor %}
</ol>
<a class="pure-button" href="seriesdelusersform?seriesid={{ seriesid }}">Remove</a>
{% else %}
<p>No default fixture invitees in this series</p>
{% endif %}

<a class="pure-button" href="seriesaddusersform?seriesid={{ seriesid }}">Add</a>
<br><br>

{% if fixtures|length >0 %}
<p><b>Fixtures (latest date first):</b></p>
<table class="pure-table"><thead><tr><th>Date</th><th>Time</th></tr></thead><tbody>
    {% for n in fixtures %}
        <tr>
            <td><a href="fixture?fixtureid={{ n.fixtureid}}">{{ n.description }}</a></td>
            <td>{{ n.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No fixtures in this series</p>
{% endif %}

<br>
<a class="pure-button" href="addfixture?seriesid={{ seriesid }}">Add the next fixture</a>
<br><br>
<a class="pure-button" href="serieslist">Back to series list</a>
{% if participants|length < 1 and bookings|length < 2 %}
<br><br>
<a class="pure-button" href="seriesdelete?seriesid={{ seriesid }}">Delete series</a>
{% endif %}

{% endblock %}