{% extends "base.html" %}
{% block content %}

<h2>Tennis fixture series</h2>
<table class="pure-table">
    <thead><tr></tr><th>Series</th><th>Automated emails</th><th>Future fixtures</th></tr></thead>
    {% for s in serieslist %}
    <tr>
    <td><a href="series?seriesid={{ s.Seriesid }}">{{ s.description }}</a></td>
    <td{{ s.AutoEmail ? ' style="color:red;"' : '' }}>{{ s.AutoEmail ? 'Enabled' : 'Disabled' }}</td>
    <td>{{ s.futureFixtures }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a class="pure-button" href="seriesaddform">Add a series</a>
<br><br>
<a class="pure-button" href="userlist">Users</a>

<p>PHP time: {{ phpTime }}
<br>SQL time: {{ sqlTime }}</p>

<p>Auto URL: {{ autoUrl }}</p>

{% for l in log %}
{{ l.EventTime }}: {{l.EventMessage}}<br>
{% endfor %}

<br><br>
<a class="pure-button" href="testReact">Test React</a>

<br><br>
{% endblock %}