{% extends "base.html" %}
{% block content %}
<div class="header">
<h1>{{ base.description }}</h1>

{% if next2fixtures|length > 0 %}
<table class="pure-table">
<tr>
<td><b>Next fixtures</b></td>
{% for n in next2fixtures %}
<td><a href="fixture?fixtureid={{ n.Fixtureid}}">{{ n.FixtureDate|date("jS \\o\\f F") }}</a></td>
{% endfor %}
</tr></table>
{% else %}
<p>No future fixtures</p>
{% endif %}

<p>Series owner: {{ base.FirstName }} {{ base.LastName }}
{% if Role == 'Admin' %}
 (<a href="{{ base.Link }}">owner access link</a>) 
{% endif %}
</p>

<p>Courts: {{ base.SeriesCourts }}</p>
<p>Courts to book: {{ base.TargetCourts }}</p>
{% if base.AutoEmail %}

<p style="color:red;">Email automation is enabled</p>
{% else %}
<p>Email automation is disabled</p>
{% endif %}

</div>

<div class="content">
<a class="pure-button" href="serieseditform?seriesid={{ seriesid }}">Edit series data</a>

<br><br>
{% if participants|length >0 %}
<details>
    <summary><b>Participants ({{ participants|length }})</b></summary>
    <ol>
        {% for n in participants %}
        <li>{{ n.ShortName }}{{ n.Booker ? ' (Booker)' : '' }}</li>
        {% endfor %}
    </ol>
</details>
<br>
<a class="pure-button" href="seriesdelusersform?seriesid={{ seriesid }}">Remove</a>
{% else %}
<p>Use the Add button to add people</p>
{% endif %}

<a class="pure-button" href="seriesaddusersform?seriesid={{ seriesid }}">Add</a>
<br><br>

{% if pastFixtures|length >0 %}
<details>
<summary><b>Past fixtures</b></summary>
<table class="pure-table"><thead><tr><th>Date</th><th>Time</th></tr></thead><tbody>
    {% for n in pastFixtures %}
        <tr>
            <td><a href="fixture?fixtureid={{ n.Fixtureid}}">{{ n.description }}</a></td>
            <td>{{ n.FixtureTime }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</details>
{% else %}
<p>No past fixtures</p>
{% endif %}

{% if Role == 'Admin' %}
<br>
<a class="pure-button" href="serieslist">Back to series list</a>
<br><br>
<a class="pure-button" href="seriesdeleteform?seriesid={{ seriesid }}">Delete series</a>
<br>
{% endif %}

<br>
<details>
<summary>About this page</summary>
{% apply markdown_to_html %}
{{ include('series.md') }}
{% endapply %}
</details>
<br><br>
</div>
{% endblock %}