{% extends "base.html" %}

{% block content %}

<div id="mydiv"></div>

<script type="text/babel">
  function SeriesList({ data }) {
    return (
      <div>
        <h2>Series List</h2>
        <table class="pure-table">
          <thead><tr><th>Series</th><th>Automated emails</th><th>Future fixtures</th></tr></thead>
          <tbody>
            {data.map((item, index) => (
              <tr key={index}>
                <td>{item.description}</td>
                <td>{item.AutoEmail ? 'Enabled' : 'Disabled'}</td>
                <td>{item.futureFixtures}</td>
              </tr>
            ))}
          </tbody>
        </table>
      </div>
    )
  }

  const container = document.getElementById('mydiv');
  const root = ReactDOM.createRoot(container);

  fetch('/api/serieslist')
  .then(response => response.json())
  .then(response => {
    root.render(<SeriesList data={response} />)
    });

</script>

{% endblock %}