<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.custom-restricted-width {display: inline-block;}
* {margin-left: 2px;}
</style>
</head>
<body>
<h2>Tennis users</h2>
{% for user in userlist %}
<a href=useredit?Userid={{ user.Userid }}>{{ user.FirstName }} {{ user.LastName }}</a><br>
{% endfor %}
<br>
<a class="pure-button" href="useraddform">Add a user</a>
<a class="pure-button" href="serieslist">Series list</a>
</body>
</html>