{% extends "base.html" %}
{% block content %}

<form class="pure-form pure-form-stacked" action="userupdate" method="post">
<fieldset>
<legend>User ID: {{ Userid }}</legend>
<input type="hidden" name="Userid" value={{ Userid }}>
<label for="fname">First Name</label>
<input type="text" name="fname" id="fname" value="{{ FirstName }}"/>
<label for="lname">Last Name</label>
<input type="text" name="lname" id="lname" value="{{ LastName }}"/>
<label for="email">Email</label>
<input style="width: 300px;" type="email" name="email" id="email" value="{{ EmailAddress }}"/>

<br>
<button type="submit" class="pure-button pure-button-primary">Update user data</button>

</fieldset>
</form>

<a class="pure-button" href="userlist">Exit without any edits</a>
<br><br>

<a class="pure-button" href="userdelete?Userid={{ Userid }}">Delete this user</a>

{% endblock %}