{% extends "base.html" %}
{% block content %}

<form class="pure-form pure-form-stacked" action="useradd" method="post">
<fieldset>
    <legend>Add person</legend>        
    <label for="fname">First Name</label>
    <input type="text" name="fname" id="fname" placeholder="First Name" />
    <label for="lname">Last Name</label>
    <input type="text" name="lname" id="lname" placeholder="Last Name" />
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" />
    <button type="submit" class="pure-button pure-button-primary">Add</button>
</fieldset>
</form>

<br><br>
<a class="pure-button" href="userlist">Cancel any input</a>

{% endblock %}