{% extends "base.html" %}
{% block content %}

<form class="pure-form pure-form-stacked" action="{{ formlink }}" method="post">
<fieldset>
<legend>{{ legend }}</legend>
<input type="hidden" name="{{ sfidname }}" value="{{ sfidvalue }}">
{% for u in users %}
<div class="pure-control-group">
<label class="pure-checkbox">
<input type="checkbox" name="user_{{ u.Userid }}" 
value={{ u.Userid }}>{{ u.FirstName }} {{ u.LastName }}
</label></div>
{% endfor %}

<button type="submit" class="pure-button pure-button-primary">Select</button>
<br><br>
<a class="pure-button" href="{{ cancellink }}">Cancel any input</a>

{% endblock %}