<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.custom-restricted-width {display: inline-block;}
* {margin-left: 2px;}
</style>
</head>
<body>
<h2>{{ description }}</h2>
<p>Series owner: {{ owner }}</p>
{% if participants|length >0 %}
<p><b>Default fixture invitees:</b></p>
<ol>
    {% for n in participants %}
    <li>{{ n }}</li>
    {% endfor %}
</ol>
<a class="pure-button" href="seriesdelusersform?seriesid={{ seriesid }}">Remove users</a>
<br><br>
{% else %}
<p>No default fixture invitees in this series</p>
{% endif %}

<a class="pure-button" href="seriesaddusersform?seriesid={{ seriesid }}">Add users</a>
<br><br>

{% if fixtures|length >0 %}
<p><b>Fixtures (most recent first):</b></p>
<table class="pure-table"><thead><tr><th>Date</th><th>Time</th></tr></thead><tbody>
    {% for n in fixtures %}
        <tr>
            <td><a href="fixture?fixtureid={{ n.fixtureid}}">{{ n.description }}</a></td>
            <td>{{ n.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No fixtures in this series</p>
{% endif %}

<br>
<a class="pure-button" href="addfixture?seriesid={{ seriesid }}">Add a fixture</a>
<br><br>
<a class="pure-button" href="serieslist">Back to series list</a>
{% if participants|length < 1 and bookings|length < 2 %}
<br><br>
<a class="pure-button" href="seriesdelete?seriesid={{ seriesid }}">Delete series</a>
{% endif %}

</body>
</html>